button{
    color:#4169e1;
    
    width:100%;
    height: 4vw;
    
    
    font-family: fantasy;
    border-style: double;
    border-color: #87ceeb;
    font-size: 20px;
}

button:hover{
    color:#c8a2c8;
    border-color:#c8a2c8;
    font-size: 22px;
    border:  2px solid blueviolet;

}

